{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section class="form">
        <h1 class="pageTitle">Inscription</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}


        <button type="submit" class="btn btn-success d-flex justify-content-center">Ajouter</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
