{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section id="accueil">
    <img src="https://devweb06.fr/assets/img/logo1.png" alt="Logo du Compteur d'Honoré" id="logoAccueil">
    <h1 class="pageTitle">Bienvenue sur le Compteur d'Honoré</h1>
    <div class="contentAccueil">
        <p id="contentSlogan" class="text-center mb-5"> <strong>Vous êtes boulanger ? Vous en avez marre de toujours tout compter ou de sortir votre calculatrice pour chaque fournée ?
                <br> Vous voulez un outil simple à utiliser pour calculer vos recettes ? Ce site est fait pour vous ! </strong> </p>
        <p id="contentDetails" class="">Accédez à notre catalogue de recettes et commencez dès à présent à calculer les quantités dont vous avez besoin.
            <br>Comment cela fonctionne ? Vous avez 2 possibilités :
            <br>Renseignez la quantité de chaque produit désiré et laissez le Compteur d'Honoré calculer les recettes pour vous, vous aurez un récapitulatif pour chacune d'entre elles.
            <br>Vous pouvez également renseigner le poids de farine que vous voulez utiliser, le Compteur d'Honoré vous recalculera la recette avec les quantités correspondantes.</p>
    </div>
</section>

{% endblock %}
