{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="pageTitle">{{ recette.nom }}</h1>
    <h4>Voici la recette du {{ recette.nom }}</h4>
    {% for ingredient in recette.ingredients %}
        <p class="m-3">{{ ingredient.nom }}
            </p>

    {% endfor %}


{% endblock %}