{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <section id="error403" class="error">
        <img src="https://www.devweb06.fr/assets/img/angrybaker.png" alt="">
        <p id="title403" class="titleError">ERREUR 403</p>
        <p id="text403" class="text-center textError">Vous n'avez pas la permission d'accéder à ce contenu
            <br></p>
    </section>

{% endblock %}