{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <section id="error404" class="error">
        <img src="https://www.devweb06.fr/assets/img/angrybaker.png" alt="">
        <p id="title404" class="titleError">ERREUR 404</p>
        <p id="text404" class="text-center textError">La page que vous avez demandé n'existe pas
            <br> <span>(Elle est peut-être encore au four...)</span></p>
    </section>

{% endblock %}